<%= form_for @check_in do |f| %>
  <% if @check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% @check_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <%= f.hidden_field :location %>
        <%= f.hidden_field :longitude %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :destination_id, value: @destination.id  %>
        <div class="col-sm-4 col-xs-offset-4">
          
        <%= f.submit "Check in", class: "btn btn-primary", id: "check_in_button" %>
        
        </div>
<% end %>