<p>
  <strong>Location:</strong>
  <%= @check_in.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @check_in.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @check_in.latitude %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @check_in.destination.address %>
</p>

<p>
  <strong>Checked in at:</strong>
  <%= @check_in.created_at %>
</p>

<%= link_to 'Back', check_ins_path %>
