<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Destinations</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row font-weight-bold">
    <div class="col-md-3">
      Address
    </div>
    <div class="col-md-1">
      Latitude
    </div>
    <div class="col-md-1">
      Longitude
    </div>
    <div class="col-md-7"></div>
  </div>
  <% @destinations.each do |destination| %>
  <div class="row">
      
          <div class="col-md-3"><%= destination.address %></div>
          <div class="col-md-1"><%= destination.latitude %></div>
          <div class="col-md-1"><%= destination.longitude %></div>
          <div class="col-md-7">
            
              <div class="col-xs-2"><%= link_to 'Check in', new_check_in_path(:destination_id => destination) %></div>
              <div class="col-xs-1"><%= link_to 'Show', destination %></div>
              <div class="col-xs-1"><%= link_to 'Edit', edit_destination_path(destination) %></div>
              <div class="col-xs-1"><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            
          </div>
        
  </div>
  <% end %>
  
  <br>
  <%= link_to 'New Destination', new_destination_path, class: "btn btn-default" %>
</div>

<br>
