<!DOCTYPE html>
<html>
<head>
  <title>Check-in app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--the script needed for the reverse geocoding-->
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCeUFPSExQp5oAW7inlirQEjZR5oI4ubSU' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= render "layouts/navbar" %>
<%= render "layouts/errors" %>
<%= yield %>

</body>
</html>
